#container{      
    background: #666 url( images/tree.png) no-repeat;
    width: 100%;
    height: 100%;      
    position: relative; 
    background-size: cover;  
 }
 nav{ background: url(images/nieverepeat.png) repeat-x left top;
    min-height: 300px;}
    nav ul li{ display: inline; text-decoration: none;}

@-webkit-keyframes nieve{
    from {top: -10px;}
    to {top: 450px;}
 }
       
 @-webkit-keyframes copos{
     0% { -webkit-transform: rotate(-180deg) translate(0px, 0px);}
     100% { -webkit-transform: rotate(180deg) translate(10px, 75px);}
 }
#snow div {
    position: absolute;
    top: -40px;
    -webkit-animation-name: nieve, copos;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: normal;
    -webkit-animation-timing-function: ease-in;
 }
 .copos {
    color: #fff;
    font-size: 1em;
    position: absolute;   
 }
 .copos.f1 {
    left: 40px;
    -webkit-animation-duration: 5s;   
 }
 .copos.f2 {
    font-size: 1.8em;
    left: 120px;
    -webkit-animation-duration: 7s;   
 }
 .copos.f3 {
    left: 200px;
    -webkit-animation-duration: 8s;   
 }
 .copos.f4 {
    font-size: 1.5em;
    left: 280px;
    -webkit-animation-duration: 6s;   
 }