//Variables
$color-botones: #700707;
$color-letras: #fff;
$color-fondo: #063E3A;
$color-hover: #d3aa2f;
@import url('https://fonts.googleapis.com/css2?family=Gayathri&display=swap');

@-webkit-keyframes nieve{
    from {top: 0%;}
    to {top: 100%;}
}
       
@-webkit-keyframes copos{
    0% { -webkit-transform: rotate(-180deg) translate(0px, 0px);}
    100% { -webkit-transform: rotate(180deg) translate(10px, 75px);}
}

#snow div {
    position: absolute;
    -webkit-animation-name: nieve, copos;
    -webkit-animation-direction: normal;
    -webkit-animation-duration: 15s;
    -webkit-animation-iteration-count: infinite;
	top: -40px;
}
.copos {
    color: #fff;
    font-size: 1em;
    position: absolute;   
}
.copos.f1 {
    left: 5%;
    -webkit-animation-delay: -2s;   
}
.copos.f2 {
    font-size: 1.8em;
    left: 12%;
    -webkit-animation-delay: 2s;   
}
.copos.f3 {
    left: 25%;
    -webkit-animation-delay: -8s;   
}
.copos.f4 {
    font-size: 1.5em;
    left: 32%;
    -webkit-animation-delay: -3s; 
}
.copos.f5 {
    left: 18%;
    -webkit-animation-delay: -5s; 
}
.copos.f6 {
    font-size: 1.8em;
    left: 48%;
}
.copos.f7 {
    left: 33%;
    -webkit-animation-delay: 1s;  
}
.copos.f8 {
    font-size: 2em;
    left: 55%;
    -webkit-animation-delay: 6s;   
}
.copos.f9 {
    left: 40%;
    -webkit-animation-delay: -2s; 
}
.copos.f10 {
    font-size: 1.8em;
    left: 50%;
    -webkit-animation-delay: -3s;  
}
.copos.f11 {
    left: 60%;
    -webkit-animation-delay: 4s;  
}
.copos.f12 {
    font-size: 1.5em;
    left: 75%;
    -webkit-animation-delay: -6s;   
}
.copos.f13 {
    left: 80%;
    -webkit-animation-delay: 3s;   
}
.copos.f14 {
    font-size: 1.8em;
    left: 92%;
    -webkit-animation-delay: -7s;   
}
.copos.f15 {
    left: 64%;
}
.copos.f16 {
    font-size: 1.5em;
    left: 88%;
    -webkit-animation-delay: 6s;   
}
.copos.f17 {
    left: 53%;
    -webkit-animation-delay: 2s;   
}
.copos.f18 {
    font-size: 2em;
    left: 71%;
    -webkit-animation-delay: 7s;   
}
.copos.f19 {
    left: 83%;
    -webkit-animation-delay: -1s;   
}
.copos.f20 {
    font-size: 1.5em;
    left: 95%;
    -webkit-animation-delay: 6s;   
}


body {
    font-family: 'Gayathri';
    color: white;
    margin: 0;
    padding: 0;
    --bs-nav-link-color: #4A0404;
    --bs-link-color: #4A0404;
    --bs-nav-link-hover-color: #00DBA8;
    --bs-link-hover-color: #00DBA8;
}

main {
    background-color: #06403C;
    padding: 0;
    margin: 0 !important;
}

nav {
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: nowrap !important;
}

.barra {
    padding: 0;
    margin: 0;
    background: url(images/nieve-top.svg) repeat-x left bottom white;
    min-height: 117px;
}

.barvis {
    color: #BA0B0B;
}

.logo {
    max-width: 100%;
}

.navli {
    align-self: center;
}

//imagen primeras cartas
img {
    display: block;
    max-width: 90%;
    margin: 0% 5%;
    padding: 10% 0%;
}
//ornamento 
img.ornament {
    margin: 0;
    padding: 2%;
}
a.elige {
    margin: 5%;
}

//primer texto
.container-1 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
}

.container-1 h2:hover{
    color: $color-hover;
    align-self: auto;
}

.container-1 p {
    margin: 0 5%;
    text-align: center;
}

//boton elige
.elige {
    background-color: $color-botones;
    border-radius: 10px;
    text-decoration: none;
    padding: 10px;
    color: $color-letras;
    align-items: center;
    margin-left: 1%;
    width: 50%;
    text-align: center;
    background: linear-gradient(to bottom right, rgb(122, 39, 39),#612114, rgb(75, 16, 12), rgb(54, 2, 2) );
    border: 1px solid #BA0B0B;

    &:hover {
        background: $color-hover;
        color: $color-letras;
        border: 0px;
        }
}

//seccion 2 

.container-2 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0 auto;
    flex-direction: column;
    // &__h2 {
    //     margin: 5% 5%;
    //     text-align: center;
    //     &__h2:hover{
    //         color: $color-hover;
    //         align-self: auto;
    //     }
    // }
 //he provado esto de arriba pero por alguna razon no me funciona
    
}
.container-2 h2 {
    margin: 5% 5%;
    text-align: center;
}
.container-2 h2:hover{
    color: $color-hover;
    align-self: auto;
}

ol.col3 {
    padding-right: 40px;
}

.container-2 li {
    list-style: none;
    margin-bottom: 10%;
}

//seccion 3 ultima pantalla fotos redondas

.container-3 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0 auto;
    flex-direction: column;

}

.container-3 h2 {
    margin: 5% 5%;
    text-align: center;
}
.container-3 h2:hover{
    color: $color-hover;
    align-self: auto;
}


//cartas redondas

.cartas {
    border-radius: 50%;
    padding: 0;
    margin: 0;
}

.col-md-4 {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}
img.cartas {
    border: 5px solid rgb(195, 10, 10);
    box-shadow: 2px 2px 8px 4px #d3d3d3d1;

    &:hover {
        box-shadow: 2px 2px 8px 4px #8ffa89d1;
    }

}

//botones ver
.boton-ver {
    background-color: $color-botones;
    border-radius: 10px;
    text-decoration: none;
    padding: 5px;
    color: $color-letras;
    align-items: center;
    width: 25%;
    text-align: center;
    background: linear-gradient(to bottom right, rgb(122, 39, 39),#612114, rgb(75, 16, 12), rgb(54, 2, 2) );
    border: 1px solid #BA0B0B;
    font-size: 1em;
    margin: 10%;

    &:hover {
        background: $color-hover;
        color: $color-letras;
        border: 0px;
        }
}
#cartas {
    max-width: 96%;
    align-items: center;
    margin-left: 5%;
}

footer {
    background: url(images/nieve-bottom.svg) repeat-x left top white;
    min-height: 117px;
    justify-content: space-between;
    display: block;
    text-align: center;
    margin-top: 0;
    padding: 5% 0 0 0;
    align-items: center;
    align-content: center;
    overflow-x: hidden;
}
    
.bloquefooter {
    margin: 5% 0;
    padding: 0 5%;
}

.socialmedia {
    list-style: none;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: normal;
    flex: auto;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    align-content: center;
    text-align: center;
    justify-content: space-between;
}

.fa-brands {
    padding-top: 25%;
}

.button1 {
    border: none;
    background-color: #06403C;
    width: 3rem;
    height: 3rem;
    color: white;
    font-size: 1.5rem;
    border-radius: 50%;
    justify-content: space-between;
    display: inline-block;
    text-align: center;
    align-items: center;
    align-content: center;
}

.foot-copy {
    color: #06403C;
    padding: 5% 0 0 0;
    margin: 0;
    list-style: none;
}    

.foot.links {
    list-style: none;
    padding: 0 !important;
}


// [class*="col-"] {
//     width: 100%;
// }

@media (min-width: 600px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}

@media (min-width:800px) {
    //lista informativa sobre las cartas
    ol.col3 {
        padding-right: 0px;
        padding-left: 0px;
        float: left;
        padding-bottom: 0px;
        margin: 15px 0px;
        width: 100%;
        padding-top: 0px;
        list-style:none;
    }
    ol.col3 li {
        padding-right: 2px;
        display: inline;
        padding-left: 50px;
        float: left;
        padding-bottom: 2px;
        width: 30%;
        padding-top: 2px;
        font-size: 1.2em;
    }
}
@media (min-width: 992px) {
    .navbar-expand-lg .navbar-collapse {
        display: flex!important;
        flex-basis: auto;
        align-items: center;
        justify-content: space-evenly;
    }
}
    
@media (min-width:1000px) {
    .cartas-texto {
        display: inline-flex;
    } 

    //foto primera pantalla
    .carta-principal { 
        max-width: 40%;
    } 

    .container-1 {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-right: 50px;
    }
    //parrafo de primera pantalla
    .container-1 p {
        font-size: 1.1em;
    }

    //seccion 3 cartas redonditas
    img.cartas:hover {
        box-shadow: 2px 2px 8px 4px #8ffa89d1;
    }
}
        



