@import url("https://fonts.googleapis.com/css2?family=Gayathri&display=swap");
body {
  font-family: "Gayathri";
  color: #fff;
  background-color: #063E3A;
  background-size: cover;
  background-repeat: no-repeat;
}

nav {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: nowrap !important;
}

.barra {
  padding: 0;
  margin: 0;
  background: url(images/nieveTop.png) repeat-x left top #05322F;
  min-height: 120px;
}

.barvis {
  color: #BA0B0B;
}
.barvis:hover {
  color: #00DBA8;
}

.logo {
  max-width: 100%;
}

img {
  display: block;
  max-width: 90%;
  margin: 10% 5%;
}

img.ornament {
  margin: 3%;
}

a.elige {
  margin: 5%;
}

.container-1 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
}

.container-1 h2:hover {
  color: #d3aa2f;
  align-self: auto;
}

.container-1 p {
  margin: 0 5%;
  text-align: center;
}

.elige {
  background-color: #700707;
  border-radius: 10px;
  text-decoration: none;
  padding: 10px;
  color: #fff;
  align-items: center;
  margin-left: 1%;
  width: 50%;
  text-align: center;
  background: linear-gradient(to bottom right, rgb(122, 39, 39), #612114, rgb(75, 16, 12), rgb(54, 2, 2));
  border: 1px solid #BA0B0B;
}
.elige:hover {
  background: #d3aa2f;
  color: #fff;
  border: 0px;
}

.container-2 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 0 auto;
  flex-direction: column;
}

.container-2 h2 {
  margin: 5% 5%;
  text-align: center;
}

.container-2 h2:hover {
  color: #d3aa2f;
  align-self: auto;
}

ol.col3 {
  padding-right: 40px;
}

.container-2 li {
  list-style: none;
  margin-bottom: 10%;
}

.container-3 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 0 auto;
  flex-direction: column;
}

.container-3 h2 {
  margin: 5% 5%;
  text-align: center;
}

.container-3 h2:hover {
  color: #d3aa2f;
  align-self: auto;
}

.cartas {
  border-radius: 50%;
}

.col-md-4 {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}

img.cartas {
  border: 5px solid rgb(195, 10, 10);
  box-shadow: 2px 2px 8px 4px rgba(211, 211, 211, 0.8196078431);
}
img.cartas:hover {
  box-shadow: 2px 2px 8px 4px rgba(143, 250, 137, 0.8196078431);
}

.boton-ver {
  background-color: #700707;
  border-radius: 10px;
  text-decoration: none;
  padding: 5px;
  color: #fff;
  align-items: center;
  width: 25%;
  text-align: center;
  background: linear-gradient(to bottom right, rgb(122, 39, 39), #612114, rgb(75, 16, 12), rgb(54, 2, 2));
  border: 1px solid #BA0B0B;
  font-size: 1em;
}
.boton-ver:hover {
  background: #d3aa2f;
  color: #fff;
  border: 0px;
}

@media (min-width: 800px) {
  ol.col3 {
    padding-right: 0px;
    padding-left: 0px;
    float: left;
    padding-bottom: 0px;
    margin: 15px 0px;
    width: 100%;
    padding-top: 0px;
    list-style: none;
  }
  ol.col3 li {
    padding-right: 2px;
    display: inline;
    padding-left: 50px;
    float: left;
    padding-bottom: 2px;
    width: 30%;
    padding-top: 2px;
    font-size: 1.2em;
  }
}
@media (min-width: 1000px) {
  .cartas-texto {
    display: inline-flex;
  }
  .carta-principal {
    max-width: 40%;
  }
  .container-1 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 50px;
  }
  .container-1 p {
    font-size: 1.1em;
  }
  img.cartas:hover {
    box-shadow: 2px 2px 8px 4px rgba(143, 250, 137, 0.8196078431);
  }
}/*# sourceMappingURL=reinas.css.map */