@import url("https://fonts.googleapis.com/css2?family=Gayathri&display=swap");
body {
  font-family: "Gayathri";
  color: #fff;
  background-color: #063E3A;
  background-size: cover;
  background-repeat: no-repeat;
}

nav {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: nowrap !important;
}

.barra {
  padding: 0;
  margin: 0;
  background: url(images/nieveTop.png) repeat-x left top #05322F;
  min-height: 120px;
}

.barvis {
  color: #BA0B0B;
}
.barvis :hover {
  color: #00DBA8;
}

.logo {
  max-width: 100%;
}

img {
  display: block;
  max-width: 90%;
  margin: 10% 5%;
}

img.ornament {
  margin: 3%;
}

a.elige {
  margin: 5%;
}

.container-1 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
}

.container-1 h2:hover {
  color: #FFCA2B;
  align-self: auto;
}

.container-1 p {
  margin: 0 5%;
  text-align: center;
}

.elige {
  background-color: #700707;
  border-radius: 10px;
  text-decoration: none;
  padding: 10px;
  color: #fff;
  align-items: center;
  margin-left: 1%;
  width: 50%;
  text-align: center;
}

.elige:hover {
  background: #FFCA2B;
  color: #fff;
}

.container-2 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 0 auto;
  flex-direction: column;
}

.container-2 h2 {
  margin: 5% 5%;
  text-align: center;
}

.container-2 h2:hover {
  color: #FFCA2B;
  align-self: auto;
}

.container-2 li {
  list-style: none;
  margin-bottom: 5%;
}

.container-3 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 0 auto;
  flex-direction: column;
}

.container-3 h2 {
  margin: 5% 5%;
  text-align: center;
}

.container-3 h2:hover {
  color: #FFCA2B;
  align-self: auto;
}

.cartas {
  border-radius: 50%;
}

.col-md-4 {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}

.btn-secondary {
  border: #BA0B0B;
  background-color: #700707;
  font-size: large;
  text-align: center;
}

.btn-secondary:hover {
  background-color: #FFCA2B !important;
  align-self: auto;
}

footer {
  background-image: url("https://cdn.pixabay.com/photo/2016/08/03/09/04/universe-1566161_1280.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  justify-content: space-between;
  display: block;
  text-align: center;
  margin-top: 0;
  width: 100%;
  align-items: center;
  align-content: center;
}

.bloquefooter {
  padding-top: 5%;
  padding-bottom: 2%;
  padding-left: 5%;
  padding-right: 5%;
}

.socialmedia {
  list-style: none;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: normal;
  flex: auto;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  align-content: center;
  text-align: center;
  justify-content: space-between;
}

.fa-brands {
  padding-top: 25%;
}

.button1 {
  border: none;
  background-color: #6c4166;
  width: 3rem;
  height: 3rem;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
  border-radius: 50%;
  justify-content: space-between;
  display: inline-block;
  text-align: center;
  align-items: center;
  align-content: center;
}

.foot-copy {
  color: white;
  padding: 0;
  margin: 0;
}

@media (min-width: 1200px) {
  .cartas-texto {
    display: inline-flex;
  }
  .container-1 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
  img {
    max-width: 50%;
  }
}/*# sourceMappingURL=reinas.css.map */
